.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-height: 100vh;
}

.store-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
}

.card {
  width: 400px;
}
